<mat-card style="margin-top: 100px;" nfxLayout="column" class="example-card">
  <mat-card-header style="width: 100%;" nfxLayout="column" fxLayoutAlign="center center">
    <mat-card-title
      >Centro de rehabilitación fisioterapéutico Sin Piernas</mat-card-title
    >
    <mat-card-subtitle>Iniciar Sesion</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content  >
    <form (submit)="login($event)" [formGroup]="myForm">
      <section >
        <mat-form-field
          style="width: 100%"
          ngDefaultControl
          formControlName="userName"
          appearance="fill"
        >
          <mat-label>Nombre</mat-label>
          <input required matInput />
          <mat-error *ngIf="userName.invalid">{{getErrorMessageUserName()}}</mat-error>
        </mat-form-field>
      </section>

      <section>
        <mat-form-field style="width: 100%;" appearance="fill" ngDefaultControl formControlName="password">

          <mat-label>Ingrese su Contraseña</mat-label>
          <input matInput required [type]="hide ? 'password' : 'text'" />
          <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
        </mat-form-field>
      </section>

      <section nfxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary">Iniciar Sesion</button>
      </section>

    </form>
  </mat-card-content>
</mat-card>
