<mat-card style="margin-top: 100px;">
		<div class="grid">
			<div class="col">
				<mat-form-field appearance="fill" style="padding: 20px;">
					<mat-label>Fecha</mat-label>
					<input matInput [matDatepicker]="picker">
					<mat-hint>MM/DD/YYYY</mat-hint>
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="col">
				<div class="flex justify-content-end flex-wrap card-container green-container">
					<mat-form-field class="observacion" appearance="fill" style="padding: 20px;">
						<input matInput placeholder="Observación">
					</mat-form-field>
				</div>
			</div>
		</div>
		<div>
			<mat-form-field class="observacion" appearance="fill" style="padding: 20px;">
				<input matInput placeholder="Observación">
			</mat-form-field>
		</div>
</mat-card>