section {
  display: table;
  width: 100%;
  align-content: center;
  max-width: 100%;
  overflow: auto;
}
table {
  width: 100%;
}
button{
  margin: 5px;
}
a{
  margin: 5px;
}
ng-container{
  margin: 10px;
}
.tabla{
  overflow: auto;
  pointer-events: auto;
}
.mat-table {
  overflow-y: auto;
}

.example-container {
  height: 200px;
  max-width: 100%;
  overflow: auto;
}
