<h1 mat-dialog-title>Agregar Subcategoria</h1>
<div mat-dialog-content class="mat-typography">
  <p>Ingrese los datos</p>
  <form [formGroup]="myForm">
    <mat-form-field appearance="fill">
      <mat-label>Descripcion</mat-label>
      <input matInput ngDefaultControl formControlName="descripcion" required />
      <mat-error *ngIf="myForm.get('descripcion')!.hasError('required')">
        Descripcion es requerido
      </mat-error>
    </mat-form-field>

    <section>
      <mat-form-field style="width: 100%" appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="categoria" required>
          <mat-option
            *ngFor="let item of categorias$ | async; let i = index"
            [value]="item.idCategoria"
            >{{ item.descripcion }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="myForm.get('categoria')!.hasError('required')">
          Categoria es requerido
        </mat-error>
      </mat-form-field>
    </section>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="addCategoria()" cdkFocusInitial>Agregar</button>
</div>
